body h1,h3{
    font-weight: 200;
}
.bg-blue {
    background: #3079AB;
    color: white;
  }

  .card-white {
    background: white;
    padding: 30px;
    box-shadow: 1px 1px 2px #e7e7e7;
    border-radius: 4px;
    margin: 20px 50px;
  }

  .wrapper{
      color: grey;
  }
  .top-p{
      padding-top: 5px;
  }
